# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
* List popular languages for Data Science
* Commonly used libraries by data scientists
* Data science tools
* arithmetic expression in Python

# Some of the popular languages that Data Scientists use are:
1. pythone
2. R
3. java
4. c++

# Some of the commonly used libraries used by Data Scientists include:

1.Numpay
2.Pandas
3.matplotib
4.SciPy
5.Tenserflow

# data science tools
|data science tools|
|------------------|
|R studio|
|Jupyter notebook|
|Tensor flow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

## Author
BRIJESHKUMAR TRIVEDI